<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <listeners>
        <listener class-name="launch.TestResultListener"/>
    </listeners>
    <test name="Smoke Tests">
        <classes>
            <class name="SearchProductTest"/>
            <class name="CartManagementTest"/>
        </classes>
    </test>
</suite>
